# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# PyCharm
.idea/
*.iml
*.iws
*.ipr
out/

# VSCode (на всякий случай, если используешь)
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Environments
.env.dev
.env.prod
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/
.env*

# uv local Python versions
.local/share/uv/python/

# MacOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.Spotlight-V100
.Trashes
*.swp
*.swo

# Logs
*.log

# FastAPI / Starlette temp files (если будут)
*.db
*.sqlite3

uv.lock
test_main.http
/app/routing/
/sandbox/
